/*@tailwind components;*/
/*@tailwind utilities;*/


#resume p {
    margin-bottom: 8px;
}

#resume a {
    /*@apply text-sky-600 hover:underline transition-all ease-in-out duration-200;*/
    /*color: #F25F45;*/
}
#resume li {
    margin-left: 1.6em;
    font-family: Pretendard, sans-serif;
    font-size: 1.125em;
    font-weight: 300;
    line-height: 1.75em;
}
#resume ul li::before {
    content: "-";
    position: absolute;
    transform: translateX(-0.8em);
}

#resume h1 {
    margin-bottom: 1em;
    font-family: Pretendard, sans-serif;
    font-size: 2.25em;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
#resume h1 + h2 {
    margin-top: 2.38em;
}

#resume h2 {
    margin: 3.38em 0;
    text-align: center;
    font-family: Pretendard, sans-serif;
    font-size: 1.625em;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
#resume h3 {
    margin-bottom: 1em;
    font-family: Pretendard, sans-serif;
    font-size: 1.25em;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
#resume p {
    font-family: Pretendard, sans-serif;
    font-size: 1.125em;
    font-style: normal;
    font-weight: 300;
    line-height: 1.4;
    text-align: justify;
}
#resume section {
    margin-bottom: 3.5em;
}
#resume strong {
    font-weight: 500;
    color: #000;
}

.career-card {
    margin-bottom: 1em;
}
.simple-card {
    display: flex;
}
.simple-title {
    margin-right: 3em;
}
#resume .career-info p {
    font-size: 1em;
    color: #333;
}
